$SCARAB: (
	BASELINE:		(),
	BREAKPOINTS:	(),
	DURATIONS:		(),
	EASINGS:		(),
	PALETTES:		(),
	TYPEFACES:		(),
	TYPE-SCALE:		()
);

@import '_';

$map: (
	base: bl(1),
	large: bl(2),
	huge: bl(8)
);

@debug negative( $map );
