// @function palette( $color )
//
// Return a color value from the `PALETTES` configuration map
//
// @param { arglist } $color - Description of color to return
// @return { string:color }

@function palette ( $color ) {

	$value: ();

	// Single argument for $color defaults to 'base' color
	@if length( $color ) == 1 {
		$colors: map-get( get(palettes), nth($color, 1) );
		$value:  map-get( $colors, base );
	}

	// Otherwise, get a named color from the palette
	@else {
		$palette: nth( $color, 2 );
		$colors:  map-get( get(palettes), $palette );
		$shade:   nth( $color, 1 );

		// default to base color on invalid key name
		@if not map-has-key( $colors, $shade ) {
			$shade: base;
		}

		$value: map-get( $colors, $shade );
	}

	@return $value;

}
