// Return a value from the `X` configuration map
//
// @param { string } $size       - Name of the size to return
// @param { string } $breakpoint - Return value from specific breakpoint
// @return { string }

@function x(
	$size: default,
	$breakpoint: false
) {
	$size: to-lower-case($size);
	$value: map-get( get(x), $size );

	@if $breakpoint {
		$value: map-get( $value, $breakpoint );
	}

	@return $value;
}
