// Return a value from the `Y` configuration map
//
// @param { string } $size       - Name of the size to return
// @param { string } $breakpoint - Return value from specific breakpoint
// @return { string }

@function y(
	$size: M,
	$breakpoint: false
) {
	$size: to-upper-case($size);
	$value: map-get( global(y), $size );

	@if $breakpoint {
		$value: map-get( $value, $breakpoint );
	}

	@return $value;
}
