// Import Scarab
@import '../scss/scarab';

@include set( baseline, rem(1+random(63)) );

$int_pos: random(1000);
$int_neg: random(1000) * -1;
$flt_pos: random() * random(1000);
$flt_neg: random() * random(1000) * -1;

$baseline: map-get( $SCARAB, baseline );
$breakpoints: map-get( $SCARAB, breakpoints );
$durations: map-get( $SCARAB, durations );
$easings: map-get( $SCARAB, easings );
$palettes: map-get( $SCARAB, palettes );
$type-scale: map-get( $SCARAB, type-scale );
$typefaces: map-get( $SCARAB, typefaces );

// Import test utilities
@import 'lib/assert';
@import 'lib/function-test';
@import 'lib/start-tests';

// Import tests
@import 'functions/test-bl';
@import 'functions/test-em';
@import 'functions/test-rem';

// Start tests
@include start-tests( $FUNCTION-TESTS );
