// Import Scarab
@import '../scss/scarab';

@include define( baseline, rem(1+random(63)) );

$int_pos: random(1000);
$int_neg: random(1000) * -1;
$flt_pos: random() * random(1000);
$flt_neg: random() * random(1000) * -1;

$BASELINE: map-get( $SCARAB, BASELINE );
$BREAKPOINTS: map-get( $SCARAB, BREAKPOINTS );
$DURATIONS: map-get( $SCARAB, DURATIONS );
$EASINGS: map-get( $SCARAB, EASINGS );
$PALETTES: map-get( $SCARAB, PALETTES );
$TYPE-SCALE: map-get( $SCARAB, TYPE-SCALE );
$TYPEFACES: map-get( $SCARAB, TYPEFACES );

// Import test utilities
@import 'lib/assert';
@import 'lib/function-test';
@import 'lib/start-tests';

// Import tests
@import 'functions/test-bl';
@import 'functions/test-em';
@import 'functions/test-rem';

// Start tests
@include start-tests( $FUNCTION-TESTS );
