// Headings
.h1 {
	@extend .block;
	@include type-scale(title);
	font-weight: bold;
}

.h2 {
	@extend .block;
	@include type-scale(heading);
	font-weight: bold;
}

.h3 {
	@extend .block;
	@include type-scale(subheading);
}

.h4 {
	@extend .block;
	@include type-scale(accent);
	font-weight: bold;
}

.h5 {
	@extend .block;
	@include type-scale(body);
	font-weight: bold;
}

.h6 {
	@extend .block;
	@include type-scale(small);
	font-weight: bold;
}
