@include describe('font-family [func]') {

  @include it('Returns a `font-family` value from the `INVENTORY` map') {
    $__SCARAB: (
      'INVENTORY': (
        'font-family': (
          'sans': ('Helvetica', sans-serif),
          'serif': ('Georgia', serif)
        )
      )
    ) !global;

    @include assert-equal(
      font-family(sans),
      ('Helvetica', sans-serif)
    );
  }

}

@include describe('ff [func]') {

  @include it('Returns a `font-family` value from the `INVENTORY` map') {
    $__SCARAB: (
      'INVENTORY': (
        'font-family': (
          'sans': ('Helvetica', sans-serif),
          'serif': ('Georgia', serif)
        )
      )
    ) !global;

    @include assert-equal(
      ff(sans),
      ('Helvetica', sans-serif)
    );
  }

}

@include describe('typeface [func]') {

  @include it('Returns a `font-family` value from the `INVENTORY` map') {
    $__SCARAB: (
      'INVENTORY': (
        'font-family': (
          'sans': ('Helvetica', sans-serif),
          'serif': ('Georgia', serif)
        )
      )
    ) !global;

    @include assert-equal(
      typeface(sans),
      ('Helvetica', sans-serif)
    );
  }

}
