// Palette
// -------
// Returns a color from the global $PALETTES map.
//
// $palette - { list } - A descriptor for the color, matching the pattern ( [shade] color ).

@function palette( $palette ) {	

	@if length( $palette ) == 1 {

		$_colors: map-get( $PALETTES, $palette );

		@return map-get( $_colors, base );

	} @else {
		
		$_palette: nth( $palette, 2 );
		$_colors: map-get( $PALETTES, $_palette );
		$_shade: nth( $palette, 1 );

		@if not map-has-key( $_colors, $_shade ) {
			$_shade: base;
		}

		@return map-get( $_colors, $_shade );

	}

}
