@include function-test( rem, (
	(
		title: 'positive integer',
		args: ( 16 ),
		asserts: (
			equal: 1rem,
			gt: 0
		)
	),
	(
		title: 'positive float',
		args: ( 10.5 ),
		asserts: (
			equal: (10.5/16)*1rem,
			gt: 0
		)
	),
	(
		title: 'negative integer',
		args: ( -200 ),
		asserts: (
			equal: (-200/16)*1rem,
			lt: 0
		)
	),
	(
		title: 'negative float',
		args: ( -8.71 ),
		asserts: (
			equal: (-8.71/16)*1rem,
			lt: 0
		)
	)
) );
