// Baseline
// --------
// Register global baseline value.

$BASELINE: rem(12) !default;



// Type Scale
// ----------
// Register global type scale.

$TYPE-SCALE: (

	title: (
		base: 	( font-size: rem(28), 	line-height: bl(3) ),
		small: 	( font-size: rem(36), 	line-height: bl(4) ),
		large:	( font-size: rem(48), 	line-height: bl(5) ),
		huge: 	( font-size: rem(56), 	line-height: bl(6) )
	),

	heading: (
		base: 	( font-size: rem(20), 	line-height: bl(2) ),
		small: 	( font-size: rem(24), 	line-height: bl(3) ),
		large:	( font-size: rem(32), 	line-height: bl(4) ),
		huge:	( font-size: rem(40), 	line-height: bl(4) )
	),

	subheading: (
		base: 	( font-size: rem(18), 	line-height: bl(2) ),
		small:  ( font-size: rem(22),	line-height: bl(3) ),
		large:	( font-size: rem(28),	line-height: bl(3) ),
		huge: 	( font-size: rem(32),	line-height: bl(4) )
	),

	accent: (
		base: 	( font-size: rem(16), 	line-height: bl(2) ),
		small: 	( font-size: rem(18), 	line-height: bl(2) ),
		large: 	( font-size: rem(20), 	line-height: bl(3) ),
		huge:	( font-size: rem(24), 	line-height: bl(3) )
	),

	body: (
		base: 	( font-size: rem(14), 	line-height: bl(2) ),
		small: 	( font-size: rem(16), 	line-height: bl(2) ),
		large:  ( font-size: rem(18),	line-height: bl(3) ),
		huge: 	( font-size: rem(20), 	line-height: bl(3) )
	),

	small: (
		base: 	( font-size: rem(10), 	line-height: bl(2) ),
		small: 	( font-size: rem(12), 	line-height: bl(2) ),
		large:  ( font-size: rem(14),	line-height: bl(2) ),
		huge: 	( font-size: rem(16), 	line-height: bl(2) ),
	),

	tiny: (
		base: 	( font-size: rem(8), 	line-height: bl(2) ),
		small: 	( font-size: rem(10), 	line-height: bl(2) ),
		large:  ( font-size: rem(12),	line-height: bl(2) ),
		huge: 	( font-size: rem(14), 	line-height: bl(2) ),
	),

	button: (
		base: 	( font-size: rem(12), 	line-height: 1 )
	)

) !default;

