// Wrap
// ----
// Constrain children horizontally to a maximum width.

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@include responsive(( padding-left, padding-right ), (
		base: 	rem(24),
		small: 	rem(48),
		medium: rem(128),
		large: 	0
	));

	@include responsive(( max-width ), (
		base: 	rem(560),
		small: 	rem(800),
		medium: rem(1088),
		large: 	rem(1024),
		huge: 	rem(1280)
	));

	&--small {
		@include responsive(( max-width ), (
			base: 	rem(420),
			small: 	rem(600),
			medium: rem(720),
			large: 	rem(768),
			huge: 	rem(960)
		));
	}
}
