// Wrapper
// -------
// Constrain children horizontally to a maximum width.

%wrapper, .wrapper {

	@include responsive(( padding-left, padding-right ), (
		base: 	rem(24),
		tiny: 	0
	));

	@include responsive(( max-width ), (
		tiny:	85%,
		medium: rem(720),
		large: 	rem(960),
		huge: 	rem(1120)
	));

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;



	// Wrapper -- Small
	// ----------------
	// Reduce maximum width of a wrapper.

	&--small {

		@include responsive(( padding-left, padding-right ), (
			base: 	rem(48),
			tiny: 	0
		));

		@include responsive(( max-width ), (
			tiny:	75%,
			medium: rem(576),
			large: 	rem(768),
			huge: 	rem(840)
		));

	}


	
	// Wrapper -- Large
	// ----------------
	// Increase maximum width of a wrapper.

	@include responsive(( padding-left, padding-right ), (
		base: 	rem(12),
		tiny: 	0
	));

	&--large {

		@include responsive(( max-width ), (
			tiny:	95%,
			medium: rem(900),
			large: 	rem(1200),
			huge: 	rem(1400)
		));

	}
	
}
