// Container
// ---------
// Remove the top and bottom margins of the first and last children.

@at-root {
	$child: '& > *';

	.container {
		#{ $child } {
			&:first-child {
				margin-top: 0 !important;
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}
