// Table
.table {
	@extend .block;
	@include type-scale( body );
	display: table;
}

	.table__header {
		display: table-header-group;
	}

	.table__body {

	}

	.table__footer {
		display: table-footer-group;
	}


table {
	@extend .table;
}

thead {
	@extend .table__header;
}

tbody {
	@extend .table__body;
}

tfoot {
	@extend .table__footer;
}



// Table cell
.table__cell {
	@include responsive(( padding ), (
		base: bl(0.5),
		small: bl(1) bl(2),
		large: bl(1) bl(4)
	));

	display: table-cell;
	border: 1px solid palette(grey);

	.table__header & {
		background: palette(grey);
	}
}

td, th {
	@extend .table__cell;
}
