// Button
// ------
// A clickable button.

button,
.button {
	$text-color: palette(black);
	$text-color-hover: palette(white);

	@extend %focusable;
	@extend %clickable;

	@include type-scale( button );

	@include responsive(( padding-top, padding-bottom ), (
		base: bl( 1 )
	));

	@include responsive(( padding-left, padding-right ), (
		base: 1.5em,
		medium: 2em
	));

	display: inline-block;
	vertical-align: middle;
	appearance: none;
	border: 1px solid palette( black );
	border-radius: 2px;
	background-color: transparent;
	color: $text-color;
	font-family: typeface( primary );
	font-weight: bold;
	text-decoration: none;

	a {
		text-decoration: none;
		color: $text-color;
	}

	&:hover {
		background-color: palette(black);
		color: $text-color-hover;

		a {
			color: $text-color-hover;
		}
	}
}
