// @mixin query( $query )
//
// Include an @media query block for proerty declarations
//
// @param { arglist } $query - Media query descriptor

@mixin query ( $query ) {
	$condition:   ();
	$breakpoint:  ();
	$media-query: ();

	// e.g. query(small) => @media min-width(breakpoint(small)) {}
	@if length($query) == 1 {
		$breakpoint: $query;
		$media-query: (min-width: breakpoint($breakpoint));
	}

	// e.g. query(until medium) => @media max-width(breakpoint(medium)) {}
	// e.g. query(from small)   => @media min-width(breakpoint(small)) {}
	@else if length($query) == 2 {
		$condition:  nth( $query, 1 );
		$breakpoint: nth( $query, 2 );

		@if $condition == 'until' {
			$media-query: (max-width: breakpoint($breakpoint));
		} @else if $condition == 'from' {
			$media-query: (min-width: breakpoint($breakpoint));
		}
	}

	// e.g. query(small to medium) => @media min-width(breakpoint(small)) and max-width(breakpoint(medium)) {}
	@else if length($query) == 3 {
		$bp1: nth( $query, 1 );
		$bp2: nth( $query, 3 );
		$min-query: breakpoint($bp1);
		$max-query: breakpoint($bp2);

		@if breakpoint($bp1) > breakpoint($bp2) {
			$min-query: breakpoint($bp2);
			$max-query: breakpoint($bp1);
		}

		$media-query: 'all and (min-width: #{$min-query}) and (max-width: #{$max-query})';
	}

	@debug $media-query;

	@media #{$media-query} {
		@content;
	}

}
