// @function stringify-map( $map )
//
// Returns a map with stringified keys
//
// @param { map } $map - The map to stringify

@function stringify-keys( $map ) {
	$stringified-map: ();

	@each $key, $val in $map {
		$key: inspect($key);

		@if type-of($val) == 'map' {
			$val: stringify-keys($val);
		}

		$stringified-map: map-merge($stringified-map, ($key: $val));
	}

	@return $stringified-map;
}
