// @function transitions( $declarations )
//
// Generate multiple transition property declaration(s)
//
// @param { map } $declarations - Map of transition properties to declarations

@mixin transitions ( $property-map ) {

	$transitions: ();

	@each $pair in $property-map {
		$property:		nth( $pair, 1 );
		$declaration:	nth( $pair, 2 );
		$transitions:	append( $transitions, #{$property} #{$declaration}, 'comma' );
	}
	
	transition: $transitions;
	
}
